
@import url("./reset.css");

body {
    background: #fff !important;
}

h1, h2 ,h3,h4,h5,h6,p{
    text-align: left;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color: #000000;
}

label:first-child, label:nth-child(2)  {
    color: black;
    width: 100% ;

}

.form-group{
    color: #000;
    text-align: center;
    padding-right: 15px;
}

.post .article{
    box-shadow: -5px 0 0 rgba(171, 171, 171, 0.6901960784313725);
    text-align: justify;
    padding-left: 8px;

    margin-top: 20px;
}

.post h3{
    text-align: left;
    color: black;
    /* float: left; */
    font-size: 18px;
    /* border-bottom: 2px dotted #195290; */
    margin-top: 5px;
}
.post h4{
    /* margin-top: 50px; */
    /* float: left; */
    color: #525252;
}

.post{
    padding-top: 30px;
    padding: 11px;
    margin-bottom: 20px;
    color: black;

}

.post ul li  {
    display: inline-block;
    padding: 0 5px 0 0;
}


header{
    text-align: center;
    background : white;
    height: 45px;
    color: white;
    box-shadow: 0 2px 5px black;
}
header h1{
    text-align: left;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    float: left;
    line-height: 44px;
    color: white;
    width: 255px;
    height: 45px;
    font-size: 23px;
    padding: 0px 36px;
    margin: 0 5px 0 0;
    background: #000;
}

header a{
    color: #000000;
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
}

header a:active{
    color : orangered;
    text-decoration: none;
}

header a:hover{
    color : orangered;
    text-decoration: none;

}

header ul {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    font-size: 28px;
    float: right;
    padding-right: 20px;
}

header ul li {
    display: inline-block;
    padding: 2px;
    margin: 0 15px;
}
.post h3{
    font-size: 19px;

}


fieldset legend {
    padding-bottom: 20px;
}

.form-actions{
    text-align: center;
}

main{
    margin: 1px auto 20px auto ;
    box-sizing: border-box;
    background: #FFFFFF;
    color: #000;

}

footer {
    height: 35px;
    text-align: center;
    background: #000000 !important;
    color: white;
}

footer p {
    text-align: right;
    font-size: 18px;
    color: white;
    line-height: 35px;
    padding-right: 25px;
}


input{
    padding: 5px 25px;
}

.admin p {
    font-size: 15px;
}


.blockC hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}


.blockL h2, .blockC h2{
    font-weight: bold;
    color: rgba(171, 171, 171, 0.6901960784313725);
}


/*---- Sociel Icons -------*/

/*Change icons size here*/
.social-icons .fa {
    font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
    border-radius: 50%;
}
.social-icons.icon-rounded .fa{
    border-radius:5px;
}
.social-icons.icon-flat .fa{
    border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}


.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;color: #FFFFFF;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;color: #FFFFFF;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;color: #FFFFFF;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;color: #FFFFFF;}

